<!doctype html>
<html lang="en" ng-app="CRT">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>&lt;/crt&gt;</title>
    <meta name="description" content="A mobile web app for hacker news stories">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16.png">
    <link rel="apple-touch-icon" href="favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- ./CSS -->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- NAVBAR -->
<nav class="navbar navbar-default" ng-controller="NavbarController">
    <div class="container-fluid">
        <p class="navbar-text navbar-left"><a href="/crt-angular/">&lt;/crt&gt;</a></p>
        <form ng-if="actions.enabled" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="search.term" class="form-control" placeholder="Search news...">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-crt" type="button" ng-click="search.term = ''">X</button>
                    </span>
                </div>
            </div>
            <div class="form-group btn-group" role="group">
                <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                        ng-click="reverse=!reverse; filterOrderBy('time', reverse);">Time
                </button>
                <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                        ng-click="reverse=!reverse; filterOrderBy('score', reverse);">Score
                </button>
                <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                        ng-click="reverse=!reverse; filterOrderBy('commentCount', reverse);">Comments
                </button>
                <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                        ng-click="reverse=!reverse; filterOrderBy('title', reverse);">Title
                </button>
                <button class="btn btn-warning" ng-click="refreshStories();">Refresh
                </button>
            </div>
        </form>
    </div>
</nav>
<!-- ./NAVBAR -->

<!-- VIEW -->
<div id="view" class="container-fluid" ng-view></div>
<!-- ./VIEW -->

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.1/sprintf.min.js"></script>
<!-- ./JS -->


<!-- DEVELOPMENT ONLY -->
<script src="app/module/angular-local-storage.js"></script>
<script src="app/module/angular-sprintf.js"></script>
<script src="app/module/angular-filter-utils.js"></script>
<script src="app/directive/dxTree.js"></script>
<script src='app/helper/firebase.js'></script>
<script src='app/helper/utils.js'></script>
<script src="app/app.js"></script>
<script src="app/config/routes.js"></script>
<script src="app/config/localStorageServiceProvider.js"></script>
<script src="app/config/constant.js"></script>
<script src="app/directive/crtNewsItem.js"></script>
<script src="app/controller/HackerNewsController.js"></script>
<script src="app/controller/NavbarController.js"></script>
<script src="app/controller/StoryController.js"></script>
<script src="app/service/HackerNewsAPI.js"></script>
<script src="app/service/HackerNewsListService.js"></script>
<script src="app/service/NavbarService.js"></script>
<!-- ./DEVELOPMENT ONLY -->


<!-- Built using the Hacker News API (http://blog.ycombinator.com/hacker-news-api -->
</body>
</html>
