<div>
    <div class="btn-group pull-left" role="group">
        <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                ng-click="reverse=!reverse; order('time', reverse)">Time</button>
        <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                ng-click="reverse=!reverse; order('score', reverse)">Score</button>
        <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                ng-click="reverse=!reverse; order('num_comments', reverse)">Comments</button>
        <button class="btn btn-default" ng-disabled="hnews.length <= 0"
                ng-click="reverse=!reverse; order('title', reverse)">Title</button>
    </div>
    <div ng-if="hnews.length <= 0" class="text-center pull-right">
        <span class="label label-default">Loading...</span>
    </div>
    <table class="table table-striped list-stories">
        <tbody>
        <tr ng-repeat="(index, data) in hnews | filter : newsSearch"
            data-id="{{ data.id }}" ng-animate="'animate'">
            <td>{{ index }}</td>
            <td>
                <a href="{{ data.url }}" target="_blank">{{ data.title }}</a>
                <small ng-if="data.domain">({{ data.domain }})</small>
                <small class="center-block">{{ data.how_long }}</small>
            </td>
            <td>
                <a class="btn btn-primary pull-right" href="{{ data.comments_url }}" target="_blank"
                   role="button">cmts</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>