<div>
    <table class="table table-striped list-stories">
        <tbody>
            <tr ng-repeat="(id, data) in hnews | toArray : false | filter: search1 | orderBy : 'time' : 'reverse'" data-id="{{ id }}" ng-animate="'animate'">
                <td><a href="{{ data.url }}" target="_blank">{{ data.title }}</a>
                    <small ng-if="data.domain">({{ data.domain }})</small>
                    <small class="center-block">{{ data.how_long }}</small>
                </td>
                <td><a class="btn btn-primary pull-right" href="{{ data.comments_url }}" target="_blank" role="button">cmts</a></td>
            </tr>
            <tr ng-if="Object.keys($scope.hnews).length <= 0;">
                <td><strong>No news found. API is most likely having issues.</strong></td>
            </tr>
        </tbody>
    </table>
</div>