<div ng-if="hnews.length <= 0" class="text-center pull-right">
    <span class="label label-default">Loading...</span>
</div>
<div class="row">
    <div class="item-list col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in hnews | filter : search.term track by item.id">
                <news-item
                        item="item"
                        comments="comments"
                        load-comments="loadComments"
                        ></news-item>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span ng-if="hnews.length > 0" class="label label-info">Stories: {{ hnews.length }}</span>
    </div>
</div>
