<div ng-if="hnews.length <= 0" class="text-center pull-right">
    <span class="label label-default">Loading...</span>
</div>
<div class="row">
    <div class="item-list col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in hnews | filter : search.term track by item.id" ng-animate="'animate'">
                <news-item
                        item="item"
                        comments="comments"
                        loader="loader"
                        load-comments="loadComments"
                        load-comments-children="loadCommentsChildren"
                        load-more-comments="loadMoreComments"
                        time-ago="timeAgo"
                        ></news-item>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span ng-if="numItems > 0" class="label label-info">Stories: {{ numItems }}</span>
        <div class="btn-group" role="group">
            <button class="btn btn-warning btn-sm" ng-click="resetNewsList()">Reset News List</button>
            <button class="btn btn-warning btn-sm" ng-click="clearLocalStorage()">Clear Local Storage</button>
        </div>
    </div>
</div>
